*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i,
svg{
    pointer-events: none;
}

.sequencer{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pad{
    transition: all .3s ease;
}

.kick-pad,
.snare-pad,
.hihat-pad{
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad{
    background-color: #5885b9;
}

.kick-pad.active{
    background-color: #456488;
}

.snare-pad{
    background-color: #69a773;
}

.snare-pad.active{
    background-color: #5c7961;
}

.hihat-pad{
    background-color: #d187b0;
}

.hihat-pad.active{
    background-color: #a18495;
}

.kick-track,
.snare-track,
.hihat-track{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 5rem;
}

.kick,
.snare,
.hihat{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.controls button{
    padding: .5rem;
    border: none;
    background-color: #756d6d;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
}

.controls button:hover{
    outline: none;
}

.play{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #756d6d;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.play:hover{
    outline: none;
}

select{
    padding: .5rem;
    font-size: 1rem;
    margin:0 2rem;
}

.mute.active{
    background-color: rgb(185, 182, 182);
}

.tempo{
    margin: 3rem;
    width: 30%;
}

.tempo p{
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

.tempo-slider{
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background-color: #666;
    cursor: pointer;
    border-radius: 1rem;
}

@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}